<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>mustache</title>
    </head>

    <body>
        <ul>
            {{#categories}}
                <li>{{_name}}</li>
            {{/categories}}
        </ul>
    </body>

</html>